### Data Sources

* World bank has a ton of data https://data.worldbank.org/
* OECD has a lot of useful data https://data.oecd.org/


Read up on Pandas datareader, it has so many data sources that we can pull from. Almost anywhere.
https://pandas-datareader.readthedocs.io/en/latest/

Also more data sources here from other python functions here. https://github.com/wilsonfreitas/awesome-quant#data-sources


I would recommend that we do our data downloading using these convenient packages and then use reticulate to pass that data over into R. For now just focus on getting the most interesting data!!

In [3]:
from datetime import datetime, date, time
import pandas_datareader as pdr
from pandas_datareader import wb

In [18]:
country_list = wb.get_countries()
dict_cols = {'NY.GDP.PCAP.KD' : 'gdp_per_cap', 'NV.AGR.TOTL.ZS' : 'agri_perc_gdp', 
             'SL.AGR.EMPL.ZS' : 'agg.empl.agri.perc',
            'SP.RUR.TOTL.ZS' : 'rural.pop.perc',
            'SL.TLF.CACT.ZS' : 'lfpr_15up',
            'SP.POP.TOTL' : 'pop.tot'}

In [8]:
country_list

,iso3c,iso2c,name,region,adminregion,incomeLevel,lendingType,capitalCity,longitude,latitude
0,ABW,AW,Aruba,Latin America & Caribbean,,High income,Not classified,Oranjestad,-70.0167,12.51670
1,AFG,AF,Afghanistan,South Asia,South Asia,Low income,IDA,Kabul,69.1761,34.52280
2,AFR,A9,Africa,Aggregates,,Aggregates,Aggregates,,NaN,NaN
3,AGO,AO,Angola,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,IBRD,Luanda,13.2420,-8.81155
4,ALB,AL,Albania,Europe & Central Asia,Europe & Central Asia (excluding high income),Upper middle income,IBRD,Tirane,19.8172,41.33170
...,...,...,...,...,...,...,...,...,...,...
299,XZN,A5,Sub-Saharan Africa excluding South Africa and ...,Aggregates,,Aggregates,Aggregates,,NaN,NaN
300,YEM,YE,"Yemen, Rep.",Middle East & North Africa,Middle East & North Africa (excluding high inc...,Low income,IDA,Sana'a,44.2075,15.35200
301,ZAF,ZA,South Africa,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Upper middle income,IBRD,Pretoria,28.1871,-25.74600
302,ZMB,ZM,Zambia,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,IDA,Lusaka,28.2937,-15.39820
303,ZWE,ZW,Zimbabwe,Sub-Saharan Africa,Sub-Saharan Africa (excluding high income),Lower middle income,Blend,Harare,31.0672,-17.83120

In [9]:
test = pdr.wb.search('literacy')

In [10]:
test

,id,name,unit,source,sourceNote,sourceOrganization,topics
26,1.1_YOUTH.LITERACY.RATE,"Literacy rate, youth total (% of people ages 1...",,Global Partnership for Education,The number of persons aged 15 to 24 years who ...,b'Source of information: UNESCO Institute for ...,
696,8.3.15_GHA.LITERACY.P3.LETTERS,"Making the Grade Scores in Ghana, P3, Literacy...",,Global Partnership for Education,Mean score calculated for the results of the n...,b'Data were collected from national and other ...,
700,8.3.16_GHA.LITERACY.P5.LETTERS,"Making the Grade Scores in Ghana, P5, Literacy...",,Global Partnership for Education,Mean letters per minute read in the national a...,b'Data were collected from national and other ...,
704,8.3.17_GHA.LITERACY.P3.WORDS,"Making the Grade Scores in Ghana, P3 Literacy ...",,Global Partnership for Education,Mean score calculated for the results of the n...,b'Data were collected from national and other ...,
708,8.3.18_GHA.LITERACY.P5.WORDS,"Making the Grade Scores in Ghana, P5, Literacy...",,Global Partnership for Education,Mean words per minute read in the national ass...,b'Data were collected from national and other ...,
...,...,...,...,...,...,...,...
12831,UIS.LR.AG25T64.M,"Literacy rate, population 25-64 years, male (%)",,Education Statistics,Percentage of the male population between age ...,b'UNESCO Institute for Statistics',
12832,UIS.LR.AG65,"Elderly literacy rate, population 65+ years, b...",,Education Statistics,Percentage of the population age 65 and above ...,b'UNESCO Institute for Statistics',
12833,UIS.LR.AG65.F,"Elderly literacy rate, population 65+ years, f...",,Education Statistics,Percentage of females age 65 and above who can...,b'UNESCO Institute for Statistics',
12834,UIS.LR.AG65.GPI,"Elderly literacy rate, population 65+ years, g...",,Education Statistics,Ratio of female elderly literacy rate to the m...,b'UNESCO Institute for Statistics',
12835,UIS.LR.AG65.M,"Elderly literacy rate, population 65+ years, m...",,Education Statistics,"Percentage of males age 65 and above who can, ...",b'UNESCO Institute for Statistics',

In [19]:
wb_data_raw = pdr.wb.download(indicator = [key for key in dict_cols.keys()], country = 'all', start = 1960, end = date.today().year)

In [23]:
wb_data_raw.head(10)

                 NY.GDP.PCAP.KD  NV.AGR.TOTL.ZS  SL.AGR.EMPL.ZS  \
country    year
Arab World 2019             NaN             NaN       21.365165
           2018     6452.473304        5.150411       21.436991
           2017     6444.249263        5.351102       21.485942
           2016     6515.610951        5.477818       21.472110
           2015     6430.297031        5.494414       21.581509
           2014     6354.798378        5.189001       22.066166
           2013     6337.464233        5.231652       22.217672
           2012     6279.462714        5.007932       22.289856
           2011     6021.781113        5.070918       23.071304
           2010     5946.258579        5.175306       23.207374

                 SP.RUR.TOTL.ZS  SL.TLF.CACT.ZS  SP.POP.TOTL
country    year
Arab World 2019             NaN       48.258672          NaN
           2018       41.074581       48.272323  419790588.0
           2017       41.358517       48.266518  411898965.0
           2016       41.654725       48.298005  404024433.0
           2015       41.968533       48.420952  396028278.0
           2014       42.307520       48.754935  387907748.0
           2013       42.599061       48.966527  379705719.0
           2012       42.901463       48.721328  371443547.0
           2011       43.208052       48.569831  363158703.0
           2010       43.559121       48.454433  354890042.0